{% extends 'base.html' %} <!-- Imports the Navbar and Footer -->
{% block content %}

<div class="container p-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="d-flex flex-column align-content-center container-fluid py-5">
            <h1>Sorry, you don't have access to this page</h1>
            <h1>Error 403: This page is forbidden</h1>
            <h3><a href='/'><button class="btn btn-outline-warning">Return to Homepage</button></a></h3>
        </div>
    </div>
</div>

{% endblock %}