{% extends 'base.html' %}
{% block content %}

<div class="container p-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="d-flex flex-column align-content-center container-fluid py-5">
            <h1>Sorry, you don't have access to this page</h1>
            <p>Reasons you may be recieving this message:</p>
            <p>- You may be a customer trying to access an administrator only page</p>
            <p>- You are an administrator attempting to edit an event not belonging to you</p>
            <p>- Insufficient privleges to perform an action on this website</p>
            <h3><a href='/'><button class="btn btn-outline-warning">Return to Homepage</button></a></h3>
        </div>
    </div>
</div>

{% endblock %}