<!-- Import Navbar and Footer -->
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <h1 class="display-5 fw-bold lh-1 mb-3">Confirm Ticket Booking</h1>
                <h1 class="lead pb-3">{{current_user.name}}, You are on your way to confirming your tickets!
                </h1>

                <!-- <h1 class="display-5">Tickets Available: insertTheDynamicNameReferenceHere</h1> -->

                <form action="" method="post" class="form" role="form">
                    {{ form.csrf_token() }}

                    {{ wtf.form_field(form.quantity, class='form-control', placeholder="Amount") }}

                    <button type="submit" class="btn btn-outline-success my-3">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}