{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container mt-5" style="background-color:rgb(59, 59, 59); width: auto; color: gold;">
    <div class="row mt-5" style="width: 100%;">
        <div class="col-md-12">

            <h1 class="display-4">You Are Booking Tickets for {{event.EventName}}</h1>

            <h1 class="display-4">Tickets Available: {{event.EventTickets}}</h1>

            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}

                {{ wtf.form_field(form.quantity, class='form-control', placeholder="Username") }}

                <button type="submit" class="btn btn-primary btn-lg my-4">Submit</button>

                <!-- {{wtf.quick_form(form)}} -->
            </form>
        </div>
    </div>
</div>

{% endblock %}