{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">


    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center bg-light rounded-3">

        <div class="col-md-10 p-lg-10 mx-auto my-5">

            <h1 class="display-3 fw-normal">{{event.EventName}}</h1>
            <img class="mt-4" height="200rem" src="{{event.EventImage}}" alt="{{event.EventName}}">
            <p class="lead fw-normal">{{event.EventDescription}}</p>

            {% if current_user.is_authenticated and current_user.name==event.EventCreator %}
            <a class="btn btn-outline-secondary" href="{{url_for('event.edit', id=event.id)}}">Edit This Event</a>
            {% elif current_user.is_authenticated and current_user.role=="customer" %}
            <a class="btn btn-outline-success" href="">Book Tickets Now</a>
            {% endif %}

        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <hr>

    <!-- Comments -->
    <div class="row">
        <div class="col-md-12">
            <h2>Comments</h1>
        </div>
    </div>

    <div>
        {{wtf.quick_form(form,
        "/events/{0}/comment".format(event.id))}}
    </div>

    {% for comment in event.comments %}
    <div class="row border-bottom">
        <div class="col-md-12" style="background-color: white; border: 2px black;">
            <b> - {{comment.users.name}} - <span class="ml-2 text-muted">{{comment.created_at}}</span></b>
            <p>{{comment.text}}</p>
        </div>
    </div>
    {% endfor %}


</div>


{% endblock %}