{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">YOUR ORDER HISTORY</h1>

            {% if orders %}
            <div class="row justify-content-between">

                {% for order in orders %}

                <div class="card mb-5 mr-5 px-0 col-md-3 bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Event: {{order.events.EventName}}</h5>
                        <p class="card-text">Tickets Booked: {{order.quantity}}</p>
                        <p class="card-text">Booking Date: {{order.booked_at}}</p>
                        <p class="card-text"><small class="text-muted">Venue: {{order.events.EventVenue}}</small></p>
                    </div>
                </div>


                {% endfor %}

                {% else %}
                <h1 class="display-4">Sorry {{current_user.name}}, you haven't made an order yet.</h1>
                <a href='/'><button class="btn btn-primary btn-lg my-4">Click Here to Browse Our Events </button>
                </a>

                {% endif %}

            </div>
        </div>
    </div>

</div>

{% endblock %}