{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<!--Jumbotron-->
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Search Our Events</h1>
      <p class="fs-4">Search our events catalogue via genre to find the gigs you're interested in:
      </p>
      <!-- <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.search')}}">
        <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button> -->
      </form>

      <!-- <input type="text" name="genre_filter" class="form-control flex-grow-1 my-1 mr-sm-2" id="inlineFormCustomSelectPref"> -->

      <div class="accordion py-3" id="dateSelector">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Select A Genre Here
            </button>
          </h2>

          <!-- example dates to select -->
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#dateSelector">
            <div class="accordion-body">
              <form class="form" action="{{url_for('main.genre_filter')}}">
                <button type="submit" name="genre_filter" value="country"
                  class="list-group-item list-group-item-action">Country</button>
                <button type="submit" name="genre_filter" value="Techno"
                  class="list-group-item list-group-item-action">Techno</button>
                <button type="submit" name="genre_filter" value="Funk"
                  class="list-group-item list-group-item-action">Funk</button>
                <button type="submit" name="genre_filter" value="Hip Hop"
                  class="list-group-item list-group-item-action">Hip Hop</button>
                <button type="submit" name="genre_filter" value="Musical"
                  class="list-group-item list-group-item-action">Musical</button>
                <button type="submit" name="genre_filter" value="Opera"
                  class="list-group-item list-group-item-action">Opera</button>
                <button type="submit" name="genre_filter" value="Jazz"
                  class="list-group-item list-group-item-action">Jazz</button>
                <button type="submit" name="genre_filter" value="Pop"
                  class="list-group-item list-group-item-action">Pop</button>
                <button type="submit" name="genre_filter" value="Punk"
                  class="list-group-item list-group-item-action">Punk</button>
                <button type="submit" name="genre_filter" value="Rock"
                  class="list-group-item list-group-item-action">Rock</button>
                <button type="submit" name="genre_filter" value="Blues"
                  class="list-group-item list-group-item-action">Blues</button>
                <button type="submit" name="genre_filter" value="Heavy Metal"
                  class="list-group-item list-group-item-action">Heavy Metal</button>
                <button type="submit" name="genre_filter" value="Folk"
                  class="list-group-item list-group-item-action">Folk</button>
                <button type="submit" name="genre_filter" value="Classical"
                  class="list-group-item list-group-item-action">Classical</button>
                <button type="submit" name="genre_filter" value="Alternative Rock"
                  class="list-group-item list-group-item-action">Alternative Rock</button>  
                <button type="submit" name="genre_filter" value="Dance"
                  class="list-group-item list-group-item-action">Dance</button>
                <button type="submit" name="genre_filter" value="Disco"
                  class="list-group-item list-group-item-action">Disco</button>
                <button type="submit" name="genre_filter" value="Instrumental"
                  class="list-group-item list-group-item-action">Instrumental</button>
                <button type="submit" name="genre_filter" value="Dubstep"
                  class="list-group-item list-group-item-action">Dubstep</button>
                <button type="submit" name="genre_filter" value="Orchestra"
                  class="list-group-item list-group-item-action">Orchestra</button>
              </form>
            </div>
          </div>
        </div>




        <!-- <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button> -->

      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %}
  <div class="container">

    <!-- checks to see if there are any events, if so, display each one in the card format below -->

    {% if events %}
    <div class="row justify-content-between">
      {% for event in events %}
      <div class="card mb-5 mr-5 px-0 col-md-3">
        <img class="card-img-top" height="200rem" src="{{event.EventImage}}" alt="{{event.EventName}}">
        <div class="card-body">
          <h5 class="card-title">{{event.EventName}}</h5>
          <p class="card-text">Status: {{event.EventStatus}}</p>

          <a href="{{url_for('event.show', id=event.id)}}" class="btn btn-danger">View Details</a>
          <p class="card-text"><small class="text-muted">{{event.EventVenue}}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>

    {% endif %}
  </div>

</div>
{% endblock %}