{% extends 'base.html' %}

{% block header %}
<!--Jumbotron-->
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Search Our Events</h1>
      <p class="fs-4">Search our events catalogue via genre to find the gigs you're interested in:
      </p>
      <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.searchgenre')}}">
        <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <button class="btn btn-primary btn-lg ms-3" type="button">Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <!-- justified in the center, margin top and bottom and the column contains a 10 grid -->

  {% if events %}
  <div class="row justify-content-between">
    {% for event in events %}
    <div class="card mb-5 mr-5 px-0 col-md-3">
      <img class="card-img-top" height="200rem" src="{{event.EventImage}}" alt="{{event.EventName}}">
      <div class="card-body">
        <h5 class="card-title">{{event.EventName}}</h5>
        <p class="card-text">Status: {{event.EventStatus}}</p>

        <a href="{{url_for('event.show', id=event.id)}}" class="btn btn-danger">View Details</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %}
</div>

</div>
{% endblock %}